.ratings{
    background-color: #48c479;
    color: #fff;
    height: 20px;
    width: 43px;
    padding: 0 5px;
    float: left;
}

.ratings .rate{
    font-size: 12px;
    position: relative;
    top: -2px;
    left: 2px;
}

.material-icons{
    line-height: unset;
    width: 15px;
}

.material-icons.md-15{
    font-size: 15px;
}